@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --animate-dialogOverLayOpen: dialogOverLayOpen 0.2s ease-in-out;
  --animate-dialogContentOpen: dialogContentOpen 0.4s ease-in-out;

  --animate-dialogOverLayClosed: dialogClosed 0.2s ease-in-out;
  --animate-dialogContentClosed: dialogContentClosed 0.2s ease-in-out;

  @keyframes dialogOverLayOpen {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes dialogOverLayClosed {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes dialogContentOpen {
    0% {
      opacity: 0;
      transform: translateX(-100%);

    }
    100% {
      opacity: 1;
      transform: translateX(0%); 
    }
  }
  @keyframes dialogContentClosed {
    0% {
      opacity: 1;
      transform: translate(0%) scale(1);
    }

    100% {
      opacity: 0;
      transform: translateY(-100%) scale(0.8);
    }
  }
}


/* 
.swiper {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
} */

